@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page">
    <div class="navbar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync() {
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated) {
            NavigationManager.NavigateTo($"/Login");
        }
    }




}