@page "/PetDetails/{id:int}"
@using Models
@using Data
@using FamilyManager2UI.WebClient
@inject NavigationManager navigationManager;
@inject IRestClient restClient;

@if (pet != null) {
    <h1 class="d-flex justify-content-center">@pet.Name</h1>
    <div class="container mt-6 mb-6 p-6 my-auto h-100 w-50">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                @if (pet.Species.ToLower().Equals("dog")) {
                    <button class="btn btn-secondary mt-3">
                        <img src="/Images/dog.jpg" height="100" width="100"/><br/>
                    </button>
                }
                else if (pet.Species.ToLower().Equals("cat")) {
                    <button class="btn btn-secondary mt-3">
                        <img src="/Images/cat.jpg" height="100" width="100"/><br/>
                    </button>
                }
                else {
                    <button class="btn btn-secondary mt-3">
                        <img src="/Images/kinder.jpg" height="100" width="100"/><br/>
                    </button>
                }

                <div class="mt-3">
                    <span class="name mt-3"><b>@pet.Name</b></span>
                </div>
                <div>
                    <span class=" mt-3"><b>Age: </b>@pet.Age</span>
                </div>
                <div>
                    <span class="mt-3"><b>Species:</b> @pet.Species</span>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public int Id { set; get; }

    private Pet pet;

    protected override async Task OnInitializedAsync() {
        pet = await restClient.GetAsync<Pet>(Id);
    }
}